<a href="https://colab.research.google.com/github/rakeshpati57/hello-world/blob/main/Pract1_SemMarks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

In [ ]:
import pandas as pd
print("*****Welcome to Rakesh Pati University of Technology******")
print("Enetr Name of the Student")
name = input();
print(name + " is a student of Silicon")
print("Enter semister of interest")
Semister = input();
df = pd.read_excel('/content/gdrive/My Drive/Python/RPUT.csv')

SyntaxError: ignored

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

Uploading files to Google_colab

Printing from a String

In [ ]:
for x in "Rakesh":
  print(x)

R
a
k
e
s
h

Printing from a dictionary

/*Since 2 elements are there. x = variable name and y is its value */

In [ ]:
dict1 = {
    'age':10,
    'name':'Rakesh',
    'standard': 5,
    'school': 'Gurukula'
}

for x,y in dict1.items():     
  print(x,y)

age 10
name Rakesh
standard 5
school Gurukula

Printing dictionary as it is

In [ ]:
for y in dict1.items():
  print(y)

('age', 10)
('name', 'Rakesh')
('standard', 5)
('school', 'Gurukula')

If for loop is NOT included, then only last item will be considered

In [ ]:
print(x,y)

school ('school', 'Gurukula')

Getting only values from the items in the dictionary

In [ ]:
for x,y in dict1.items():
  print(y)

10
Rakesh
5
Gurukula

Find the even no from the List

In [ ]:
list1 = [2,3,4,5,6,7,8,98,78,98,55]
for x in list1:
  if x%2 == 0:
    print(str(x) + " is an even no")
  else:
    print(str(x) + " is an Odd no")

2 is an even no
3 is an Odd no
4 is an even no
5 is an Odd no
6 is an even no
7 is an Odd no
8 is an even no
98 is an even no
78 is an even no
98 is an even no
55 is an Odd no

Range function

In [ ]:
print('1st print')
for x in range(6):
  print(x)
print('2nd print')
for x in range(2,6):
  print(x)
print('3rd print')
for x in range (2,30,3):
 print(x)

1st print
0
1
2
3
4
5
2nd print
2
3
4
5
3rd print
2
5
8
11
14
17
20
23
26
29

Removing duplicate elements from a list

In [62]:
list1 = [1,2,3,4,5,6,7,8,9,1,2,4]
res = [] 
for i in list1: 
    if i not in res: 
        res.append(i) 
print(res)
li = [] 
for x in list1:
  if x not in li:   #DOn't know why TypeError is coming for this
    li = li.append(x)
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

TypeError: ignored

Quiz2:
Beginner to Expert Python.
There shouldn't be any space between + and =

In [8]:
    m = 10
    while True:
        if m%15 == 0:
            break
        print(m)
     
    m+ = 1

SyntaxError: ignored

Function

Parameter: Variable that is listed paranthesis in function definition
Argument: Value that is sent to the function when it is called

e.g.,
def my_function(First_name, Last_name): --> First_name, Last_name are parameters
  print(First_name + " " + Last_name)

my_function("Hulk","Thor")

In above code Hulk, Thor are qrguments

In [65]:
def my_function(First_name, Last_name):
    print(First_name +" " + Last_name)

my_function("Hulk","Thor")

Hulk Thor

Arbitary Arguments:

If we don't know how many arguments that will be passed into a function, add a * before the parameter name in the function

In [66]:
def my_school(*new_students):
  for name in new_students:
    print(name)
my_school("Rama","Shyama", 'Hari', 'Gopala')

Rama
Shyama
Hari
Gopala

Keyword Arguments(Kwargs):